<p id="notice"><%= notice %></p>

<h1>Vector Data</h1>

<table>
  <thead>
    <tr>
      <th>Research</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vector_data.each do |vector_datum| %>
      <tr>
        <td><%= vector_datum.research_id %></td>
        <td><%= vector_datum.data_id %></td>
        <td><%= link_to 'Show', vector_datum %></td>
        <td><%= link_to 'Edit', edit_vector_datum_path(vector_datum) %></td>
        <td><%= link_to 'Destroy', vector_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vector Datum', new_vector_datum_path %>
