<p id="notice"><%= notice %></p>

<p>
  <strong>Test1:</strong>
  <%= @aad_datum.test1 %>
</p>

<p>
  <strong>Test2:</strong>
  <%= @aad_datum.test2 %>
</p>

<p>
  <strong>Test3:</strong>
  <%= @aad_datum.test3 %>
</p>

<p>
  <strong>Teast4:</strong>
  <%= @aad_datum.teast4 %>
</p>

<%= link_to 'Edit', edit_aad_datum_path(@aad_datum) %> |
<%= link_to 'Back', aad_data_path %>
