<p id="notice"><%= notice %></p>

<p>
  <strong>Test1:</strong>
  <%= @aad.test1 %>
</p>

<p>
  <strong>Test2:</strong>
  <%= @aad.test2 %>
</p>

<p>
  <strong>Test3:</strong>
  <%= @aad.test3 %>
</p>

<%= link_to 'Edit', edit_aad_path(@aad) %> |
<%= link_to 'Back', aads_path %>
